header {
    text-align: center;
    background-color:#1070ff;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white
}

#searchbtn {
    background-color: #1070ff;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;;
    border-radius: 2px; 
}

.listbtn {
    background-color:#1070ff;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;;
    border-radius: 2px; 
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.card-body {
    background-color: #1070ff;
    color: white;
}

.leftSide {
    height: 100%; 
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}
  
.purple{
    background-color: purple;
}