body {
    
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 125%;
    color: black;
    background-image: url("./mountainImg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

.map {
    position: relative;
    overflow: hidden;
    padding-left:390px;
}

.iframe {
    top: 0;
    left: 0;
    width: 74.5%;
    height: 350px;
    border-radius: 2px;
    border: black;

}

.container {
    background:gray;
    opacity: 0.9;
    color: black;
    align-items: center;
    width: 98vw;
}

.footer {
    text-align: center;
    margin-top: 100px;
    color: white;
}

.searchResults {
    margin-top: 25px;
}

#search-list li{
    list-style: none;
    text-align: center;
    border: 1px solid black;
    margin: 2px;
    max-width: 200px;
    background-color: white;
}

#search-list li a {
    text-decoration: none;
    color: black;
    display: block;
}

#search-list li a:hover {
    text-decoration: none;
    background-color: cyan;
}

.title {
    text-align: center;
}




